@import "../../../globalStyles/scss/variables";

.image-wrapper {
  height: 170px;
  width: 600px;
  margin: 10px;
  max-width: 600px;
  border-radius: 15px;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  box-shadow: 4px 4px 7px 0px gray;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    box-shadow: 2px 2px 3px 0px darkgrey;
    transform: scale(1.05);

    @media (max-width: $small-screen) {
      box-shadow: 0px 0px 15px 0.7px darkgray;
      transform: scale(1.02);
    }
  }

  @media (max-width: $small-screen) {
    height: 70px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px darkgray;
  }

  img {
    height: inherit;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: inherit;

    @media (max-width: $small-screen) {
      height: inherit;
    }
  }

  h2 {
    position: relative;
    bottom: 110px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: xx-large;

    @media (max-width: $small-screen) {
      bottom: 60px;
      font-size: 100%;
    }
  }
}
