@import "../../../globalStyles/scss/variables.scss";

a {
  &:link {
    text-decoration: none !important;
  }
}

.social-icon {
  padding: $spacer $spacer / 2;
  padding-bottom: $spacer / 2;
  display: inline-block;
  vertical-align: middle;
}

.brand {
  color: inherit;
  padding: $spacer 0;
  vertical-align: middle;
  align-self: center;
  font-size: 2rem;
  font-weight: 200;

  @media (max-width: $small-screen) {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
