@import "../../globalStyles/scss/variables.scss";

.menu-item {
  padding: 0 30px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  text-align: center;

  @media (max-width: $medium-screen){
    padding: 0 5px;
  }

  &-panel{
    display: inline-block;
    width: 290px;

    img{
      object-fit: cover;
      min-width: 100%;
      min-width: -moz-available;          /* WebKit-based browsers will ignore this. */
      min-width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      min-width: fill-available;
      height: 290px;
    
      @media (max-width: $medium-screen){
        height: 130px;
      }
    }
    @media (max-width: $medium-screen){
      width: 130px;
    }
  }
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}