.awssld {
    --slider-height-percentage: 37%;
    --slider-transition-duration: 515ms;
    --organic-arrow-thickness: 2px;
    --organic-arrow-border-radius: 3px;
    --organic-arrow-height: 35px;
    --organic-arrow-color: #007f90;
    --control-button-width: 5%;
    --control-button-height: 80%;
    --control-button-background: transparent;
    --control-bullet-color: #0095a9;
    --control-bullet-active-color: #007f90;
    --loader-bar-color: #16d1d4;
    --loader-bar-height: 4px;
    --cube-animation-duration: 1200ms;
    --cube-animation-perspective: 1000px;
    --cube-animation-ease-in: cubic-bezier(0.8, 0, 1, 0.8);
    --cube-animation-ease-out: cubic-bezier(0, 0.2, 0.2, 1);
    --cube-translateZ-distance: -225px;
    z-index: 0;
}
